<div class="form-wrapper">
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="name" required>
      </div>
  
      <div class="form-group">
        <label for="description">Description:</label>
        <textarea id="description" name="description" [(ngModel)]="description" rows="5" required></textarea>
      </div>
  
      <div class="form-group">
        <h3>Add Tasks:</h3>
  
        <div class="task-box">
          <div class="task-input">
            <label for="task-name">Task Name:</label>
            <input type="text" id="task-name" name="taskName" [(ngModel)]="taskName" required>
          </div>
          <div class="task-input">
            <label for="task-desc">Task Description:</label>
            <textarea id="task-desc" name="taskDescription" [(ngModel)]="taskDescription" rows="3" required></textarea>
          </div>
          <div class="task-action">
            <button type="button" (click)="addTask()">Add Task</button>
          </div>
        </div>
        
  
      </div>
      <div>
        <table class="task-table">
          <thead>
            <tr>
              <th>Task Name</th>
              <th>Task Description</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks">
              <td>{{ task.name }}</td>
              <td>{{ task.description }}</td>
              <td><div class="task-action">
                <button type="button" (click)="removeTask(task)">-</button>
              </div></td>
            </tr>
          </tbody>
        
        </table>
      </div>
  
      <button type="submit">Submit</button>
    </form>
  </div>
  