nav {
    position: fixed;
    left: 0;
    top: 14;
    height: 100%;
    width: 200px;
    background-color: #F8F8F8;
    padding: 20px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.3);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    margin-bottom: 10px;
  }
  
  nav a {
    display: block;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    transition: background-color 0.3s ease;
  }
  
  nav a:hover, nav a:active {
    background-color: #CCCCCC;
    color: #333;
  }
  
  nav .active a {
    background-color: #CCCCCC;
    color: #333;
  }
  